<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viewers</title>
    <!---
    https://dashboard.twitch.tv/popout/u/ojoojao/stream-manager/active-mods?uuid=44323affcb35083c5802f0dd6f7a48ed
    --->
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <header>
        <h2>Espectadores</h2>
    </header>

    <main>

        <section id="mods">
            
            <div id="modsTitle">
                <p id="userMods"></p>
            </div>

            <section id="modsUsers"></section>

        </section>

        <section id="viewers">
            
            <div id="viewersTitle">
                <p id="userViews"></p>
            </div>

            <section id="viewersUsers"></section>

        </section>

    </main>
    
    <script src="/static/script.js"></script>

</body>
</html>