<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viewers</title>
    <!---
    <link rel="stylesheet" href="style.css">
    https://dashboard.twitch.tv/popout/u/ojoojao/stream-manager/active-mods?uuid=44323affcb35083c5802f0dd6f7a48ed
    --->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <header>
        <h2>Espectadores</h2>
    </header>

    <main>

        <section id="mods">
            
            <div id="modsTitle">
                <p>2 de 9 mods</p>
            </div>

            <section id="modsUsers">
                <!---<div id="user1">
                    <img src="profile.png" alt=".">
                    <span>•</span>
                    <a href=""><strong>ojoojao</strong></a>
                </div>--->
            </section>

        </section>

        <section id="viewers">
            
            <div id="viewersTitle">
                <p>6 viewers</p>
            </div>

            <section id="viewersUsers">
                
            </section>

        </section>

    </main>
    
    <script src="/static/src.js"></script>

</body>
</html>